a {
  text-decoration: none !important;
}

.App {
  min-height: 100vh;
  text-align: center;
}

.navbar-container {
  max-width: 80% !important;
}

.active-link {
  text-decoration: underline !important;
}
