a {
  text-decoration: none !important;
}

.App {
  min-height: 100vh;
  text-align: center;
}

.navbar-container {
  max-width: 90% !important;
}

.navbar-title {
  font-size: 1.5rem !important;
}

.navbar-separator {
  height: 2px;
  width: 90%;
  margin: 0 auto;
  background-color: black;
}

.active-link {
  text-decoration: underline !important;
}

.missions-container,
.profile-container,
.rockets-container {
  max-width: 85%;
  margin: 0 auto;
}

.rocket-info {
  text-align: left;
}

.rocket-reserved,
.active-member {
  background-color: #18a2b8;
}

.rocket-reserved {
  margin-right: 1rem;
}

.rocket-img {
  max-width: 400px;
}

.list-group-container {
  width: 40%;
  text-align: left;
}

.p-1rem {
  padding: 1rem 1rem !important;
}

.mission-btn {
  min-width: 130px !important;
}
